<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">  
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Patient List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Patient ID</th>
            <th>Patient Name</th>
            <th>Patient Contact</th>
            <th>DOA</th>
            <th> DOD</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients | async">
            <td>{{patient.pid}}</td>
            <td>{{patient.pname}}</td>
            <td>{{patient.pnum}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>