<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div style="text-align: center">
    <h1>{{message}}</h1>
  </div>


<div class="container">
  <div class="container">
      <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped custab">
      <thead>
          <tr>
              <th>ID</th>
              <!-- <th>Alert Status</th> -->
              <!-- <th>DOA</th> -->
              <th>DEPT</th>
              <th>Patient ID</th>
              <!-- <th>x</th>
              <th>y</th> -->
              
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let bed of beds">
              <td>{{bed.bId}}</td>
              <!-- <td>{{bed.alertStatus}}</td> -->
              <!-- <td>{{bed.dateOfAdmit}}</td> -->
              <td>{{bed.dpt}}</td>
              <td>{{bed.patientId}}</td>
              <!-- <td>{{bed.xCoordinate}}</td>
              <td>{{bed.yCoordinate}}</td>      -->
                <td class="text-center"><button class="btn btn-info" (click)="registerAlertOption(bed.bId)"> Alert</button></td>
                <td class="text-center"><button class="btn btn-info" (click)="registerResetoption(bed.bId)"> Reset</button></td>      
        </tr>
      </tbody>
      </table>
      </div>
  </div>

 